In [2]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<h1>INTERNET DEMOGRAPHICS</h1>

In [3]:
net = pd.read_csv('datasets//Internet-Demographic.csv')

In [4]:
net.dtypes

Country Name       object
Country Code       object
Birth rate        float64
Internet users    float64
Income Group       object
dtype: object

In [5]:
net.head

<bound method NDFrame.head of              Country Name Country Code  Birth rate  Internet users  \
0                   Aruba          ABW      10.244            78.9
1             Afghanistan          AFG      35.253             5.9
2                  Angola          AGO      45.985            19.1
3                 Albania          ALB      12.877            57.2
4    United Arab Emirates          ARE      11.044            88.0
..                    ...          ...         ...             ...
190           Yemen, Rep.          YEM      32.947            20.0
191          South Africa          ZAF      20.850            46.5
192      Congo, Dem. Rep.          COD      42.394             2.2
193                Zambia          ZMB      40.471            15.4
194              Zimbabwe          ZWE      35.715            18.5

            Income Group
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]>

In [6]:
net.info

<bound method DataFrame.info of              Country Name Country Code  Birth rate  Internet users  \
0                   Aruba          ABW      10.244            78.9
1             Afghanistan          AFG      35.253             5.9
2                  Angola          AGO      45.985            19.1
3                 Albania          ALB      12.877            57.2
4    United Arab Emirates          ARE      11.044            88.0
..                    ...          ...         ...             ...
190           Yemen, Rep.          YEM      32.947            20.0
191          South Africa          ZAF      20.850            46.5
192      Congo, Dem. Rep.          COD      42.394             2.2
193                Zambia          ZMB      40.471            15.4
194              Zimbabwe          ZWE      35.715            18.5

            Income Group
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]>

In [7]:
net.isnull().sum()

Country Name      0
Country Code      0
Birth rate        0
Internet users    0
Income Group      0
dtype: int64

In [8]:
net['Country Name'] = net['Country Name']

In [10]:
net.isnull().sum()

Country Name      0
Country Code      0
Birth rate        0
Internet users    0
Income Group      0
dtype: int64

In [14]:
net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    195 non-null    object
 1   Country Code    195 non-null    object
 2   Birth rate      195 non-null    float64
 3   Internet users  195 non-null    float64
 4   Income Group    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [15]:
net['Country Name'].value_counts()

Country Name
Aruba                1
Romania              1
Malaysia             1
Namibia              1
New Caledonia        1
                    ..
Equatorial Guinea    1
Greece               1
Grenada              1
Greenland            1
Zimbabwe             1
Name: count, Length: 195, dtype: int64

In [17]:
net['Birth rate'].value_counts()

Birth rate
10.200    5
9.200     4
12.500    3
8.500     3
9.400     2
         ..
14.500    1
27.465    1
17.389    1
18.885    1
35.715    1
Name: count, Length: 177, dtype: int64

In [20]:
net_place_rate = net.groupby(['Country Name', 'Birth rate']).value_counts().unstack()
net_place_rate

,,,Income Group,High income,Low income,Lower middle income,Upper middle income
Country Name,Birth rate,Country Code,Internet users,,,,
Afghanistan,35.253,AFG,5.9,NaN,1.0,NaN,NaN
Albania,12.877,ALB,57.2,NaN,NaN,NaN,1.0
Algeria,24.738,DZA,16.5,NaN,NaN,NaN,1.0
Angola,45.985,AGO,19.1,NaN,NaN,NaN,1.0
Antigua and Barbuda,16.447,ATG,63.4,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
Virgin Islands (U.S.),10.700,VIR,45.3,1.0,NaN,NaN,NaN
West Bank and Gaza,30.394,PSE,46.6,NaN,NaN,1.0,NaN
"Yemen, Rep.",32.947,YEM,20.0,NaN,NaN,1.0,NaN
Zambia,40.471,ZMB,15.4,NaN,NaN,1.0,NaN
Zimbabwe,35.715,ZWE,18.5,NaN,1.0,NaN,NaN

In [21]:
net['Income Group'].value_counts()

Income Group
High income            67
Lower middle income    50
Upper middle income    48
Low income             30
Name: count, dtype: int64

In [26]:
net_income_country = net.groupby(['Country Name', 'Income Group']).value_counts().unstack()
net_income_country

,,,Internet users,0.90000,1.10000,1.30000,1.50000,1.60000,1.70000,1.90000,2.20000,2.30000,3.00000,...,90.00004,91.51440,93.77650,93.80000,93.95640,94.62970,94.78360,95.05340,95.30000,96.54680
Country Name,Income Group,Country Code,Birth rate,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Low income,AFG,35.253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,Upper middle income,ALB,12.877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,Upper middle income,DZA,24.738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,Upper middle income,AGO,45.985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Antigua and Barbuda,High income,ATG,16.447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),High income,VIR,10.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,Lower middle income,PSE,30.394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",Lower middle income,YEM,32.947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,Lower middle income,ZMB,40.471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,Low income,ZWE,35.715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
net['Income Group'].value_counts().mode()

0    30
1    48
2    50
3    67
Name: count, dtype: int64

In [44]:
net['Income Group'].mode()

0    High income
Name: Income Group, dtype: object

In [ ]:
|